.section-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.section-divider svg {
  display: block;
  width: 100%;
  height: 100px;
}

.dece-section {
  background: white;
  color: black;
  padding: 4rem 2rem;
  text-align: center;
}

.dece-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.dece-section ul {
  list-style: none;
  padding: 0;
}

.dece-section li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.tarife-section {
  background: white;
  color: black;
  padding: 4rem 2rem;
  text-align: center;
}

.tarife-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.tarife-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.tarif-box {
  background: #666;
  padding: 2rem;
  border-radius: 10px;
  color: white;
  min-width: 180px;
}

.tarif-box h3 {
  color: red;
  margin-bottom: 1rem;
}

/* Stil pentru iconițele social media */
.social-icons {
    display: flex;
    flex-direction: row; /* Aliniere pe orizontală */
    gap: 15px; /* Spațiere între iconițe */
}

.footer-social img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


/* Stil pentru iconițele social media */
.footer-social a {
    display: inline-block;
}


/*.brush-divider {*/
/*  width: 100%;*/
/*  height: 150px;*/
/*  background-image: url("../videos/tranzitiev2.png");*/
/*  background-size: cover;*/
/*  background-position: center bottom;*/
/*}*/