.section-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.section-divider svg {
  display: block;
  width: 100%;
  height: 100px;
}




.why-us-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #e5e5e5;
}

.why-us-title {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  background: #e5e5e5;
  color: black;
  text-align: center;
}


.justification {
  font-size: 2.0rem;
  margin-bottom: 3rem;
  background: #e5e5e5;
  color: black;
  text-align: center;
}

.why-us-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.why-us-card {
  background: white;
  padding: 2rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.why-us-card:hover {
  transform: translateY(-5px);
}

.why-us-card i {
  font-size: 2rem;
  color: #c00;
  margin-bottom: 1rem;
}

.why-us-card p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}



.tarife-section {
  text-align: center;
  padding: 4rem 1rem;
  background-color: #e5e5e5;
}

.tarife-title {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  background: #e5e5e5;
  color: black;
  text-align: center;
}

.tarife-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.tarif-card {
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarif-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.tarif-card i {
  font-size: 2rem;
  color: #c00;
  margin-bottom: 1rem;
}

.tarif-card h3 {
  font-size: 1.4rem;
  color: #c00;
  margin-bottom: 0.5rem;
}

.tarif-card p {
  font-size: 1.1rem;
  color: #333;
}







